.blockcard{
    display: flex;
    justify-content: center;
    &__card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 5px;
        width: 114px;
        height: 68px;
    }
}