.footer_login{
    padding: 0 130px;
    padding-top: 75px;
    color: rgb(122, 122, 122);
    &__line{
        border-bottom: 1px solid rgb(227, 227, 227);
        width: 1500px;
        position: absolute;
        right: 0px;
    }
    &__body{
        display: flex;
        li{
            text-decoration: none;
            display: inline-block;
            margin-bottom: 15px;
            font-size: 15px;
            &:hover{
                text-decoration: underline;
            }
        }
        &--text{
            color:rgb(0, 0, 0);
            font-size: 13px;
        }
        &--link{
            text-decoration: none;
            color:rgb(255, 98, 0);
            font-size: 13px;
        }
        &__risk{
            max-width: 1000px;
            position: relative;
            margin-top: 4px;
            margin-bottom: 12px;
            padding: 16px 20px;
            border: 1px solid rgb(155, 155, 155);
            border-radius: 2px;
            color: rgb(155, 155, 155);
            font-size: 12px;
            line-height: 1.6;
            font-weight: 400;
            &__title{
                position: absolute;
                top: 0px;
                transform: translateY(-50%);
                background: rgb(255, 255, 255);
                padding: 0px 8px;
                color: rgb(74, 74, 74);
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }  
        }
        &__end{
            display: flex;
            height: 60px;
            &--IQ{
                justify-content: flex-end;
                align-items: center;
            }
            &--contacts{
                justify-content: flex-start;
                align-items: center;
                &:hover{
                    img{
                    opacity: 0.6;}
                }
                img{
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }   
    &__side{
        padding-top: 20px;
        width: 150px;
    }
}
.instagram{
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    background-image: linear-gradient(0deg,#e09b3d,#c74c4d 30%,#c21975 60%,#7024c4 99%)
}
.youtube{
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    background-color: #dd3400;
}
.dowApp{
    padding-top: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 176px;
    max-width: 100%;
    line-height: 1;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 42, 42);
    border-color: transparent;
    max-height: 52px;
    margin-bottom: 16px;
    padding: 8px 9px;
    &:hover{
        background-color: black;
    }
}
.applogo{
    padding: 0px 10px;
}
.ios{
    flex-shrink: 0;
    width: 101px;
    height: 34px;
    background-image: url(./assets/ios_text.svg);
    background-repeat: no-repeat;
    background-size: 101px 34px;
}
.google{
    flex-shrink: 0;
    width: 101px;
    height: 34px;
    background-image: url(./assets/googleplay_text.svg);
    background-repeat: no-repeat;
    background-size: 101px 34px;
}
.cysec{
    margin-bottom: 16px;
    color: rgb(155, 155, 155);
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    text-align: left;
    width: 200px;
    &__title{
        margin-right: 8px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }
    &:hover{
        color: rgb(74, 74, 74);
    }
}